
.icon-up-open-mini:before { content: '\e800'; } /* '' */
.icon-box:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\e802'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
